<!-- login.component.html -->
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="username" placeholder="Digite seu nome de usuário" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Digite sua senha" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" type="submit">Entrar</button>
    </form>
    
    <div class="create-account">
      <span>Não tem uma conta?</span>
      <a routerLink="/register" class="create-account-link"> Crie uma conta</a>
    </div>
  </mat-card>
</div>